body{
  margin:0;
  padding:0;
}
.flex{
  display: flex;
  @media only screen and (max-width:600px){
    flex-direction: column;
  }
  @media only screen and (max-width:1000px){
    flex-direction: column;
  }
  @media only screen and (min-width:1001px){
    flex-direction: row;
  }
}
.navigation{
  width:100%;
  height:10em;
  svg{
    margin:auto;
  }
  @media only screen and (max-width:600px){
    &__nav{
      display:none
    }
  }
  @media only screen and (max-width:1000px){
    &__nav{
      display:none
    }
  }
  @media only screen and (min-width:1001px){
    svg{
      display: none;
    }
  }
  &__nav{
    position:absolute;
    right:20px;
    line-height:10em;
  }
  &__link{
    text-decoration: none;
    text-transform: uppercase;
  }
}