body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
.flex{
  display: flex;
  @media only screen and (max-width:600px){
    flex-direction: column;
  }
  @media only screen and (max-width:1000px){
    flex-direction: column;
  }
  @media only screen and (min-width:1001px){
    flex-direction: row;
  }
}
.navigation{
  width:100%;
  height:10em;
  &__nav{
    position:absolute;
    right:20px;
    line-height:10em;
  }
  &__link{
    text-decoration: none;
    text-transform: uppercase;
  }
}
.container{
  width: 100%;
  min-height: 500px;
  @media only screen and (max-width:600px){
    align-items: center;
    gap:10%;
    &__article{
      width: 80%;
      height:450px;
      padding:15px;
      background-color: red; // to remove
    }
  }
  @media only screen and (max-width:1000px){
    align-items: center;
    gap:10%;
    &__article{
      width: 80%;
      height:450px;
      background-color: red; // to remove
    }
  }
  @media only screen and (min-width:1001px){
    gap:10%;
    &__article{
      width: 50%;
      height:450px;
      padding:15px; 
      background-color: red; // to remove
    }
  }
  &__image{
    width: 100%;
    height:500px;
    position:absolute;
    z-index: -1;
  }
}
.margin{
  &__top{
    &--150{
      margin-top:150px;
    }
  }
}
.bg{
  &__black{
    background-color: black;
    &--transparent{
      opacity: 0.8;
    }
  }
}