body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.navbar{
  width:100%;
  height:10em;
  background: black;
  position:sticky;
  top:0;
}
/*
.navbar{
  width:100%;
  height:10em;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  &__nav{
    &__menu{
      margin:0;
      padding:0;
      display:flex;
      flex-direction: column;
      gap:10px;
      &__item{
        text-transform: uppercase;
        text-align:center;
        &__link{
          text-decoration: none;
          color:white;
        }
      }
    }
  }
}
@media screen and (min-width:1001px) {
  .navbar{
    &__nav{
      &__menu{
        flex-direction: row;
      }
    }
  }
}
*/
// Container Mobile First 
.container{
  margin-top: 200px;
  min-height: 500px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--small{
    width:90%;
  }
  &__article{
    text-align:justify;
  }
  &__box{
    width:90%;
    height:200px;
    margin: 50px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color:white;
  }
  &__image{
    position:absolute;
    z-index: -999;
    width:100%;
    height:850px;
  }
}
@media screen and (min-width: 1000px) {
  .container{
    flex-direction: row;
  }
}
/*
.container {
  width: 100%;
  min-height: 500px;
  margin-top:200px;
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &__article {
    text-align: justify;
    div {
      padding: 15px;
    }
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 50px;
    &__article {
      width: 100%;
    }
  }
  @media screen and (min-width: 1000px) {
    flex-direction: row;
    gap: 5%;
    &__article {
      width: 50%;
    }
  }

  &__box {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;

    flex-direction: column;
  }
  @media screen and (max-width: 600px) {
    &__box {
      width: 100%;
    }
  }
  @media screen and (max-width: 1000px) {
    &__box {
      width: 40%;
    }
  }
  @media screen and (min-width: 1001px) {
    flex-direction: row;
    &__box {
      width: 30%;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 850px;
  }

}


.margin {
  &__top {
    &--150 {
      margin-top: 150px;
    }
    &--200 {
      margin-top: 200px;
    }
  }
}
.bg {
  &__black {
    background-color: black;
    &--transparent {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
*/
@keyframes FadeIn {
  from{ opacity: 0;}
  to{ opacity: 1;}
}